body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 3.5rem;
}

.table-beer {

  thead {

    tr {

      &:first-child {
        text-align: center;
        width: 3%;
      }

      &:nth-child(2) {
        text-align: center;
        width: 20%;
      }

      &:nth-child(3) {
        width: 77%;
      }

      .btn {
        padding-left: 0;
        padding-right: 0;

        &.asc {

          &::after {
            content: '^';
            display: inline-block;
            margin-left: 5px;
          }
        }

        &.desc {

          &::after {
            content: '^';
            display: inline-block;
            margin-left: 5px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .item-row {

    &:hover {
      cursor: pointer;
    }
  }
}

.item-name {
  font-size: 1rem;
  white-space: nowrap;
}

.item-img-wrapper {
  height: 8.334rem;

  > img {
    max-height: 100%;
  }
}

.item-description {
  font-size: 1rem;
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }

  body {
    padding-top: 3.5rem;
  }

  .item-name {
    white-space: normal;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 12px;
  }

  .item-name {
    white-space: normal;
  }
}
